USE [master]
GO
/****** Object:  Database [QuanLyCayXanh]    Script Date: 27/06/2026 4:53:18 CH ******/
CREATE DATABASE [QuanLyCayXanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCayXanh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyCayXanh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCayXanh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyCayXanh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCayXanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCayXanh]
GO
/****** Object:  Table [dbo].[BaoCaoSuCo]    Script Date: 27/06/2026 4:53:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoSuCo](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[MaCay] [int] NOT NULL,
	[NguoiBaoCao] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayBaoCao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CayXanh]    Script Date: 27/06/2026 4:53:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CayXanh](
	[MaCay] [int] IDENTITY(1,1) NOT NULL,
	[TenCay] [nvarchar](100) NULL,
	[LoaiCay] [nvarchar](100) NULL,
	[NgayTrong] [date] NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[MaKhuVuc] [int] NULL,
	[NguoiPhuTrach] [nvarchar](100) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 27/06/2026 4:53:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChamSoc]    Script Date: 27/06/2026 4:53:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChamSoc](
	[MaChamSoc] [int] IDENTITY(1,1) NOT NULL,
	[MaCay] [int] NULL,
	[LoaiChamSoc] [nvarchar](100) NULL,
	[NgayChamSoc] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamSoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 27/06/2026 4:53:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCaoSuCo] ON 

INSERT [dbo].[BaoCaoSuCo] ([MaBaoCao], [MaCay], [NguoiBaoCao], [SoDienThoai], [NoiDung], [NgayBaoCao], [TrangThai]) VALUES (1, 5, N'a', N'123', N'gãy', CAST(N'2026-06-21T21:55:34.593' AS DateTime), N'Đã xử lý')
INSERT [dbo].[BaoCaoSuCo] ([MaBaoCao], [MaCay], [NguoiBaoCao], [SoDienThoai], [NoiDung], [NgayBaoCao], [TrangThai]) VALUES (2, 2, N's', N'134', N'd', CAST(N'2026-06-21T21:56:34.600' AS DateTime), N'Đã xử lý')
INSERT [dbo].[BaoCaoSuCo] ([MaBaoCao], [MaCay], [NguoiBaoCao], [SoDienThoai], [NoiDung], [NgayBaoCao], [TrangThai]) VALUES (3, 2, N'f', N'543', N'd', CAST(N'2026-06-21T21:57:04.223' AS DateTime), N'Chưa xử lý')
SET IDENTITY_INSERT [dbo].[BaoCaoSuCo] OFF
GO
SET IDENTITY_INSERT [dbo].[CayXanh] ON 

INSERT [dbo].[CayXanh] ([MaCay], [TenCay], [LoaiCay], [NgayTrong], [TinhTrang], [MaKhuVuc], [NguoiPhuTrach], [ViDo], [KinhDo]) VALUES (1, N'Phượng', N'Phượng vĩ', CAST(N'2023-01-10' AS Date), N'Tốt', 1, N'Nguyễn Văn A', 9.9215, 106.3473)
INSERT [dbo].[CayXanh] ([MaCay], [TenCay], [LoaiCay], [NgayTrong], [TinhTrang], [MaKhuVuc], [NguoiPhuTrach], [ViDo], [KinhDo]) VALUES (2, N'Bằng lăng 1', N'Bằng lăng tím', CAST(N'2023-03-15' AS Date), N'Tốt', 2, N'Trần Văn B', 9.9223, 106.34738)
INSERT [dbo].[CayXanh] ([MaCay], [TenCay], [LoaiCay], [NgayTrong], [TinhTrang], [MaKhuVuc], [NguoiPhuTrach], [ViDo], [KinhDo]) VALUES (3, N'Phượng Vĩ', N'Cây bóng mát', CAST(N'2023-01-10' AS Date), N'Tốt', 1, N'Nguyễn Văn A', 9.9215, 106.3479)
SET IDENTITY_INSERT [dbo].[CayXanh] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVuc] ON 

INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [MoTa]) VALUES (1, N'Khu A', N'Giảng đường')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [MoTa]) VALUES (2, N'Khu B', N'Ký túc xá')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [MoTa]) VALUES (3, N'Khu C', N'Khu hành chính')
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuChamSoc] ON 

INSERT [dbo].[LichSuChamSoc] ([MaChamSoc], [MaCay], [LoaiChamSoc], [NgayChamSoc], [GhiChu]) VALUES (1, 1, N'Bón phân', CAST(N'2026-02-13T00:00:00.000' AS DateTime), N'NPK')
INSERT [dbo].[LichSuChamSoc] ([MaChamSoc], [MaCay], [LoaiChamSoc], [NgayChamSoc], [GhiChu]) VALUES (3, 3, N'Cắt tỉa', CAST(N'2026-01-15T00:00:00.000' AS DateTime), N'cắt cành')
INSERT [dbo].[LichSuChamSoc] ([MaChamSoc], [MaCay], [LoaiChamSoc], [NgayChamSoc], [GhiChu]) VALUES (4, 4, N'Thay đất', CAST(N'2026-06-03T00:00:00.000' AS DateTime), N'thay một phần đất')
SET IDENTITY_INSERT [dbo].[LichSuChamSoc] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (2, N'user', N'123', N'NhanVien')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[BaoCaoSuCo] ADD  DEFAULT (getdate()) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[BaoCaoSuCo] ADD  DEFAULT (N'Chưa xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoCaoSuCo]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoSuCo_CayXanh] FOREIGN KEY([MaCay])
REFERENCES [dbo].[CayXanh] ([MaCay])
GO
ALTER TABLE [dbo].[BaoCaoSuCo] CHECK CONSTRAINT [FK_BaoCaoSuCo_CayXanh]
GO
ALTER TABLE [dbo].[CayXanh]  WITH CHECK ADD FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[LichSuChamSoc]  WITH CHECK ADD FOREIGN KEY([MaCay])
REFERENCES [dbo].[CayXanh] ([MaCay])
GO
USE [master]
GO
